$primary=#ec4e55
$primaryhover=lighten(#ec4e55, 35%)

$bg=#364254
$bgdark=#2d394a
$bglight=#465366
$bglighter=#576478

$red=#ec4e55
$green=#514b23
$orange=#d66853

$black=#222
$gray=#262626
$grayalt=#323232
$grayhover=#444
$greyseven=#364254

$lightgray=#AAA
$white=#ebebeb

$normalfont=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif
$monospace=system-ui, BlinkMacSystemFont, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif

media--1024() {
  @media (min-width: 1024px) {
    {block}
  }
}
